.features {
	padding: 12rem 0;

	grid-column: center-start / center-end;
	grid-row: 2 / span 1;

	@media only screen and (max-width: $bp-large) {
		grid-row: 3 / span 1;
	}

	display: grid;
	// grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 4.2rem;
}

.feature {

	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr;
	column-gap: 2.4rem;

	&__icon {
		width: 4.6rem;
		height: 4.6rem;
		fill: $color-primary;
	}

	&__title {
		align-self: center;
	}

	&__text {
		grid-column: 2 / -1;
	}
}
