.realtors {
	background-color: $color-secondary;

	grid-column: col-start 7 / full-end;

	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: repeat(2, min-content);
	justify-content: center;
	align-content: center;
	justify-items: center;
	gap: 2rem;

	padding: 2rem;

	&__list {
		display: grid;
		grid-template-columns: min-content 1fr;
		column-gap: 1.6rem;
		row-gap: 5vh;
		align-items: center;

	}

	&__img {
		width: 7rem;
		border-radius: 50%;
	}

	&__sold {
		color: $color-grey-light-2;
		font-size: 1.2rem;
		font-weight: 300;
		text-transform: uppercase;
	}

}
