.sidebar {

	background-color: $color-primary;
	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;

	&__nav-btn {
		position: sticky;
		top: 4rem;

		display: block;
		margin: 4rem auto;
		height: 2px;
		width: 55%;
		border: none;
		border-radius: 0;
		background-color: #fff;

		&::after,
		&::before {
			display: block;
			content: "";
			height: 2px;
			width: 100%;
			background-color: #fff;
		}

		&::after {
			transform: translateY(-1.6rem);
		}

		&::before {
			transform: translateY(1.4rem);
		}
	}
}
